body {
  padding-top: 20px;
}

.navbar {
  margin-bottom: 20px;
}

a {
  color: #333;
}

a:hover{
  color: #474747;
  text-decoration: underline;
}

#footer {
  position: inherit;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
}

.margin-bottom-sm{
  margin-bottom: 5px;
}

.margin-top-login{
	padding-top: 200px;
	padding-bottom: 40px;
}

.product-posts{
  margin: 40px 0px;
}

.credit{
  margin-top: 40px;
  color: #ADADAD;
  text-align: center;
}

.recent-products{
  margin: 50px 0px 120px 0px;
}

.more{
  margin-bottom: 100px;
  text-align: center;
}

.align-right{
  text-align: right;
}

.product-page{
  margin: 40px 0px 100px 0px;
}

.user-sidebar{
  width: 100%;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

.user-photo{
  width: 100%;
}

.top-margin{
  margin: 40px 0px;
}

.user-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 50%;
}

.user-settings{
  margin: 30px 40px;
}

.user-account-settings{
  margin: 0px 300px 0px 60px;
}

.settings-group{
  margin-bottom: 30px;
}

.lefty{
  float: right;
}

.search-title{
  margin: 40px 0px 30px 0px;
}

.add-to-cart{
  margin: 30px 0px;
}

.margin-left{
  margin-left: 20%;
}

.upload-text{
  margin: 0px 50px;
}

/* Not sure if this is relevent */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.het{
	height: 44px !important;
}

.login{
	margin-top: 20em;
	/* margin-left:40em; */
}

.login-txt{
	text-align: right;
}

.login-form{
	width: 40%;
}

.margin-bottom-sm{
	margin-bottom: .5em;
}